name: Ansible CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  lint:
    runs-on: [ self-hosted ]   
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
        # env:
        #   ACTIONS_ALLOW_SYMLINK: false

